* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: inter;
    width: 80%;
    margin: 0 auto;
    background:radial-gradient(grey,white);
  }
  hr{
    size: 5px;
    color: navy;
  }
  .all__news {
    margin: 50px auto;
    display: grid;
    /* background: white; */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    padding: 30px;
    background: white;
    box-shadow: 2px 2px 1px grey;
    border: 1px solid lightgray;
    border-radius: 5px;
  }
  
  .news__title {
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    font-family: 'Special Elite', cursive;
  }
  
  .head__text {
    text-align: center;
    font-size: 50px;
    font-family: 'Cinzel', serif;
    color: black;
    margin-top: 30px;
  }
  
  .news__desc {
    padding-top: 10px;
    line-height: 25px;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 19px;
    padding-bottom: 10px;
  }
  
  .news__author {
    margin-right: 10px;
    color: purple;
    font-family: 'Kaushan Script', cursive;
  }
  
  .news__published {
    margin-right: 10px;
    font-family: 'Handlee', cursive;
  }
  
  .news__source,
  .news__published {
    display: inline-block;
    margin-top: 10px;
    color: rgb(122, 122, 122);
  }
  